html,body{
    height: 100%;
    background-color: lightblue;
}
.container{
    height: 55%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
.tytul{
    background-color: skyblue;
    color: black;
    height: 7%;
    text-align: center;
    font-size: 60px;
    margin: 1%;
}
.opis{
    margin-top: 2%;
    background-color: lightgreen;
    height: 22%;
    text-align: center;
}
.zdj{
   height: 22%;
   padding-top: 5%;
   padding-left: 25%;
}
.nag{
    text-align: center;
    color: black;
    font-size: 25px;

}
#mapa{
    height: 100%;
}